.lesson-builder-container {
  padding: 5% 0;

  form {
    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;

      &#add-track-btn {
        margin: 15px 0;
      }
    }

    iframe {
      width: 100%;
    }

    .audio-configs-container {
      h2 {
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
