<div class="login-container">
  <div>
    <button
      mat-raised-button
      class="w-100"
      color="primary"
      type="button"
      (click)="onSpotifySignIn()"
      [disabled]="isSpotifyAuthenticated">
      Sign in with Spotify
    </button>
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="onContinueClick()"
      [disabled]="!isSpotifyAuthenticated">
      Continue
    </button>
    <button
      mat-button
      class="w-100"
      color="accent"
      type="button"
      [routerLink]="['/login', 'content-creator']"
      queryParamsHandling="preserve">
      I'm a content creator
    </button>
  </div>
</div>
