<div class="login-container">
  <div>
    <button
      mat-raised-button
      class="w-100"
      color="primary"
      type="button"
      (click)="onSpotifySignIn()"
      [disabled]="spotifyAccessToken != null">
      Sign in with Spotify
    </button>
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="onContinueClick()"
      [disabled]="spotifyAccessToken == null">
      Continue
    </button>
    <button
      mat-button
      class="w-100"
      color="accent"
      type="button"
      (click)="onContentCreatorSignIn()">
      I'm a content creator
    </button>
  </div>
</div>
