<div class="content-creator-login-container">
  <div>
    <button
      mat-raised-button
      class="w-100"
      color="primary"
      type="button"
      (click)="onSpotifySignIn()"
      [disabled]="isSpotifyAuthenticated">
      Sign in with Spotify
    </button>
    <button
      mat-raised-button
      class="w-100"
      color="primary"
      type="button"
      (click)="onYoutubeSignIn()">
      Sign in with YouTube
    </button>
    <button
      mat-raised-button
      color="accent"
      type="button"
      [disabled]="!isSpotifyAuthenticated"
      (click)="onContinueClick()">
      Continue
    </button>
    <button
      mat-button
      class="w-100"
      color="accent"
      type="button"
      [routerLink]="['/login', 'viewer']"
      queryParamsHandling="preserve">
      I'm just here to watch a lesson
    </button>
  </div>
</div>
