<div class="track-form" [formGroup]="form">
  <h4>Select a track to play</h4>
  <mat-form-field id="track-search">
    <input
      matInput
      type="text"
      placeholder="Track name"
      formControlName="trackName"
      [matAutocomplete]="trackAutocomplete"
    />
  </mat-form-field>

  <mat-autocomplete
    #trackAutocomplete="matAutocomplete"
    (optionSelected)="onSelectTrack($event)">
    <mat-option
      *ngFor="let track of tracks"
      [value]="track.id">
      {{ track.artists[0].name + ' - ' + track.name }}
    </mat-option>
  </mat-autocomplete>

  <!--Track Start -->
  <div class="track-start" [formGroup]="form.get('trackStart')">
    <h4>Track starting point</h4>
    <mat-form-field class="custom-error-field">
      <input
        matInput
        type="number"
        placeholder="Hour"
        formControlName="hours"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="custom-error-field">
      <input
        matInput
        type="number"
        placeholder="Minute"
        formControlName="minutes"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="custom-error-field">
      <input
        matInput
        type="number"
        placeholder="Second"
        formControlName="seconds"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <p class="custom-error-msg" *ngIf="form.get('trackStart').hasError('validStart')">
      {{ form.get('trackStart').getError('validStart').message }}
    </p>
  </div>

  <!--Track End -->
  <div class="track-end" [formGroup]="form.get('trackEnd')">
    <h4>Track ending point</h4>
    <mat-form-field class="custom-error-field">
      <input
        matInput
        type="number"
        placeholder="Hour"
        formControlName="hours"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="custom-error-field">
      <input
        matInput
        type="number"
        placeholder="Minute"
        formControlName="minutes"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="custom-error-field">
      <input
        matInput
        type="number"
        placeholder="Second"
        formControlName="seconds"
        [errorStateMatcher]="matcher">
    </mat-form-field>
  </div>
</div>
