@import '~@angular/material/theming';

$app-primary: mat-palette($mat-pink, 500);
$app-accent:  mat-palette($mat-grey, 800);
$app-warn:    mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
